<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <table>
            <tr>
                <td>
                     <img src="https://freefrontend.com/assets/img/html-css-404-page-templates/404-not-found.png" alt="404" width="600" height="400">

                </td>
            </tr>
        </table>
        <table>
            <tr>
                <td>
                    <a href="http://localhost:5050/product"alt ="product"><button>back to the home page</button></a>
                </td>
            </tr>
        </table>
   
  </center> 
</body>
</html>