<center><h1><img src="https://media.istockphoto.com/id/1372286955/photo/contact-us.jpg?b=1&s=170667a&w=0&k=20&c=f-szSkE-FyP2zI4rkajWw7jCQrU1VUlsa6jDZm5xScQ="></h1></center>
<center>
    <form id="myForm">
        <h3>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
            <br>
            <label for="name">Name:</label>
            <input type="text" id="name" name="name" required>
            <br>
            <label for="phone number">Phone Number:</label>
            <input type="tel" id="phone" name="phone" required>
            <br>
        </h3>
    </form>
</center>