{{#each products}}
{{#each this}}
{{#if Pname}}
  <div class="main">
    <br/>
    <h2>Brand: {{this.Brand}}</h2>
    <h2>Name: {{this.Pname}}</h2>
    <h2>ID: {{this.Pid}}</h2>
    <h2>Price:  {{this.Price}}</h2>
  </div>
  {{/if}}
{{/each}}
{{/each}}
