{{#each products}}
{{#if Pname}}
<br/>
<br/>
<br/>
<div class="second">
  <br>
  <br>
  <h1>Brand: {{this.Brand}}</h1>
  <p>Name: {{this.Pname}}</p>
  <p>ID: {{this.Pid}}</p>
  <p>Price: {{this.Price}}</p>
</div>
{{/if}}
{{/each}}
