body{
    background-color:#ccc;
}

.main{
    text-align: center;
    display:inline-table; 
    margin: auto;
    height: 270px;
    width: 270px;
    border: 0.5px solid blue;
    font-family: "Lucida Console", "Courier New", monospace;
}
.second{
    margin:auto ;
    height: 270px;
    width: 270px;
    border: 0.5px solid blue;
    font-family: "Lucida Console", "Courier New", monospace;
    text-align: center;
}

